@{
  Layout = "_Layout";
}

@model TDLMigration.Models.Item

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.ItemDescription)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ItemId)

    @Html.LabelFor(model => model.ItemDescription)
    @Html.EditorFor(model => model.ItemDescription)

    @Html.Label("Select category")
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>